@model Covid19Statistics.Web.Models.Report.ReportDetailOutput
@using Covid19Statistics.Web.Models.Report

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">
        TOP 10 COVID-19 CASES
    </h1>
</div>

<div class="row">
    <div class="col-12">
        <form method="get" asp-Controller="Home" asp-action="Index">
            <div class="col-6">
                <select class="form-control " asp-for="RegionIso" name="iso" asp-items="Model.GetSelectRegions()">
                    <option value="">[Regions]</option>
                </select>
            </div>
            <div class="col-6">
                <input type="submit" value="Report" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<table class="table">
    <thead>
        <tr>
            <td>@Html.Raw(string.IsNullOrEmpty(Model.RegionIso) ? "REGION" : "PROVINCE")</td>
            <td>CASES</td>
            <td>DEATHS</td>
        </tr>
    </thead>
    <tbody>
        @foreach (ReportDataOutput item in Model.ReportDataOutput)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Cases</td>
                <td>@item.Deaths</td>
            </tr>
        }
    </tbody>

</table>